textarea {
    max-width: 50%;
}

textarea.form-control {
    max-width: 20%;
}

.main {
    display: grid;
    place-items: center;
}

/* do not worked */
body {
    background-color: #13d9eb !important;
}

p {
    margin-top: 1% !important;
    /*margin-bottom: 5% !important; */
}
